.Dbutton{
    background-color: #fff;
    color: #dc3545;
    border: 2px solid #dc3545;

    padding: 3px 10px;
    margin-top: 2px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.Dbuttonex{
    color: #fff;
    background-color: #dc3545;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.onimagebutton{
    background: #dc3545;
    border: none;
    color: white;
    padding: 8px 13px;
    margin-top: 2px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.onimageoverlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 330px;
    transition: opacity 0.5s;
    opacity: 0;
}

.onimageoverlay:hover{
    backdrop-filter: blur(15px);
    opacity: 1;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
    z-index: 10000; /* Above nav-bar */
   
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    width: 350px;
    height: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.cross{
    margin-top: -10px;
    margin-right: -10px;
}

.pop-text{
    margin-top: auto;
    margin-bottom: auto;
}

.bandh{
    cursor: pointer;
    font-size: 35px;
    color: #dc3545;

}

.Dbutton:hover{
    background-color: #dc3545;
    color: #fff;
}

.skills-section-gridview{
    /* height: 80vh; */
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 2rem;
    padding-left: 150px;
    padding-right: 150px;
}

.mh-2{
    min-height: 240px;
}

.work-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .skills-section-gridview{
        grid-template-columns: repeat(4,1fr);
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 990px) {
    .skills-section-gridview{
        grid-template-columns: repeat(3,1fr);
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 780px) {
    .skills-section-gridview{
        grid-template-columns: repeat(2,1fr);
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 500px) {
    .skills-section-gridview{
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }
}



@media screen and (max-width: 992px) {
    .work-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 680px) {
    .work-container{
        grid-template-columns: 1fr;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');




.skills-section-listview{
    /* padding: 0px 13%; */
    /* background-color: rgba(0, 0, 0, 0.082); */
    /* background-color: #fff; */
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0px 50px;
}

.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
    /* margin-bottom: 15px; */
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 25px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #dc3545;
    border-radius: 25px;
}

@keyframes html {
    0%{ 
        width: 0%;
    }100%{
        width: 90%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }100%{
        width: 40%;
    }
}

@keyframes bootstrap {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}

@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}

@keyframes django {
    0%{
        width: 0%;
    }100%{
        width: 62%;
    }
}

@keyframes angular {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}

@keyframes mysql {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}

@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}


.icony{
    font-size: 30px;
    color: #dc3545;

}

.icony2{
    font-size: 30px;
    color: #fff;
}

.head{
    min-width: 70px;
}

.btn2{
    height: 6vh;
    width: auto;
    border: 2px solid #dc3545;
    justify-items: center;
    display: flex;
    border-radius: 3px;
    gap: 7px;
    padding: 6px 9px;  
    cursor: pointer;
    color: #dc3545;
    font-weight: 500;
}

.btn2:hover{
    background-color: #dc3545;
    color: #fff;
}

.btn2.active{
    background-color: #dc3545;
    color: #fff;
}



.navbar .navbar-nav .nav-link {
    color: #dc3545;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
    color: #dc3545;
}
.navbar .navbar-nav .nav-item {
    position: relative;
}
.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #dc3545;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}
  
.navbar .navbar-nav .nav-item:hover::after {
    width: 70%;
}


@media screen and (max-width: 900px) {
    .skills_main{
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
    .skills-section-listview{
        margin-top: 130px;
    }
}

@media screen and (max-width: 900px) {
    .skills-section-gridview{
        margin-top: 150px;
    }
}

@media screen and (max-width: 404px) {
    .skill-flex{
        display: flex;
        flex-direction: column;
    }

    .skills-section-gridview{
        margin-top: 80px;
    }
}





.icons{
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  /* box-shadow: 0px 10px 10px rgba(0,0,0,0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dc3545;
  cursor: pointer;
}

.icons:hover{
    color: #fff;
    background-color: #dc3545;
}


.aligncenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobilegolivebutton{
    display: none;
}

@media screen and (max-width: 768px) {
    .mobilegolivebutton{
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .onimageoverlay{
        display: none;
    }
    .contectitem{
        display: flex;
    }
    .homesection{
        display: flex;
    }

}

.contectitem{
    display: '';
    flex-direction: column;
    align-items: center;
}

.homesection{
    display: '';
    flex-direction: column;
    align-items: center;
}

